<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <a href="https://time.ly" class="flex ms-2 md:me-24">
          <img src="assets/svg/brand-timely-svg.svg" class="h-8 me-3" alt="Time.ly Logo" />
        </a>
      </div>
    </div>
  </div>
</nav>

<div class="flex items-center justify-center min-h-screen p-4">
  <div class="p-4 border-2 border-gray-200 rounded-lg dark:border-gray-700 mt-14">
    <app-calendar></app-calendar>
  </div>
</div>
